.container{
    background-color: black;
    position: absolute;
    height: 600px;
    width: 300px;
}


.red {
    background-color: red;
    position: absolute;
    width: 55%;
    height: 75%;
    right: 0;
    margin: 10px;

}
.white1{
    background: white;
    position: absolute;
    width: 45%;
    height: 10%;
    left: 0;
    margin: 10px;
}
.white2{
    background: white;
    position: absolute;
    width: 45%;
    height: 15%;

    left: 0;
    margin: 10px;
}

